<p>This is a rundown.</p>

<table>
    <thead>
      <tr>
        <th>Screenshot</th>
        <th>Theme Name</th>
        <th>PageSpeed</th>
        <th>YSlow</th>
        <th>HTML Bytes</th>
        <th>Page Bytes</th>
        <th>Load Time</th>
      </tr>
    </thead>
    <tbody>
        {% for slug, id in context.iteritems() %}
        <tr>
            <td><img src="/theme-images/{{ slug }}.png" width="180px"></td>
            <td>[acf field='theme_name' post_id='{{ id }}']</td>
            <td>[acf field='pagespeed_score' post_id='{{ id }}']</td>
            <td>[acf field='yslow_score' post_id='{{ id }}']</td>
            <td>[acf field='html_bytes' post_id='{{ id }}']</td>
            <td>[acf field='page_bytes' post_id='{{ id }}']</td>
            <td>[acf field='page_load_time' post_id='{{ id }}']</td>
        </tr>
        {% endfor %}
  </tbody>
</table>